.UV {
    background: 'transparent';
    /* background: linear-gradient(165deg, #9795f0, #fbc8d4); */
    text-align: center;
    display: flex;
    flex-direction: column;
  }

.UVtop {
    display: flex; /* flexbox 레이아웃 사용 */
    justify-content: center; /* 양 끝에 요소 배치 */
    align-items: center; /* 수직 중앙 정렬 */
    width: 45vw; /* 전체 너비 사용 */
    padding: 0 10px; /* 좌우 패딩 */
  }
  
.UVtop h2 {
    margin: 0; /* h2의 기본 마진 제거 */
    color: white;
    white-space: nowrap;
    font-family: ExtraBold;
    font-size: 2rem;
  }

.UVbody {
    display: flex; /* flexbox 레이아웃 사용 */
    justify-content: flex-start;
    margin-top: 5%;
  }

.videoselect {
    display: flex;
    flex-direction: column;
    margin-left: 3%;
    width: 45%;
    align-items: center;
}

.videoselect video,
.videoselect img {
    margin-top: 5%;
    left:-20%;
    width: 100%; /* 상자의 너비에 맞추기 */
    height: 200px; /* 높이를 200px로 고정 */
    object-fit: cover; /* 비디오나 이미지를 상자에 꽉 차게 만들기 */
}

.SVbutton {
    width: 40%;
    color: white;
}

.UVprofile {
    position: relative;
    margin-top: 5%;
    margin-left: 7%;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 35%;
}

/* Material-UI Select 메뉴의 z-index 조정 */
.MuiMenu-paper {
    z-index: 2100; /* Higher than other elements */
}

.tf .MuiInputBase-input {
    color: white; /* 텍스트 필드 내부 텍스트 색상을 흰색으로 변경 */
}

.tf .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
    border-color: white; /* 테두리 색상 변경 */
}

.tf .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border-color: white; /* 호버 시 테두리 색상 */
}

.tf .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: white; /* 포커스 시 테두리 색상 */
}


.tf + .tf {
    margin-top: 20px; /* 위쪽 TextField와 아래쪽 TextField 사이의 간격 */
}

.tf .MuiInputBase-root {
    color: white; /* 텍스트 필드 내부 텍스트 색상 */
}

.tf .MuiInput-underline:before {
    border-bottom: 1px solid white; /* 기본 하단선 색상 */
}

.tf .MuiInput-underline:hover:not(.Mui-disabled):before {
    border-bottom: 2px solid white; /* 마우스 오버 시 하단선 색상 */
}

.tf .MuiInput-underline:after {
    border-bottom: 2px solid white; /* 포커스 시 하단선 색상 */
}

/* 레이블 색상 설정 */
.tf .MuiInputLabel-root {
    color: white; /* 기본 레이블 색상 */
}

.tf .MuiInputLabel-root.Mui-focused {
    color: white; /* 포커스 시 레이블 색상 */
}

/* Placeholder 색상 설정 */
.tf .MuiInputBase-input::placeholder {
    color: white;
    opacity: 1; /* 플레이스홀더 텍스트의 불투명도 */
}

.select-standard {
    color: white; /* 텍스트 색상 */
    border-bottom: 1px solid white; /* 하단 보더 색상 */
    width: 40%;
    text-align: left;
}

/* 레이블 스타일 */
.select-standard .MuiInputLabel-root {
    color: white; /* 레이블 텍스트 색상 */
}

/* 메뉴 아이템 스타일 */
.select-standard .MuiMenuItem-root {
    color: black; /* 메뉴 아이템 텍스트 색상 */
}

/* Select 컴포넌트 너비 */
.select-standard .MuiFormControl-root {
    width: 100%; /* 전체 너비 */
}

.tf + .select-standard {
    margin-top: 20px; /* 필요한 간격 조정 */
}

.select-standard .MuiSelect-icon {
    color: white; /* 화살표 아이콘의 색상을 흰색으로 설정 */
}

.select-standard .MuiInput-underline {
    border-bottom: 1px solid white; /* 밑줄 색상 변경 */
}

/* FormControl의 밑줄 색상 변경 */
.select-standard .MuiInput-underline:after {
    border-bottom: 2px solid white; /* 밑줄 색상 변경 */
}

.select-standard .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
    border-color: white; /* 기본 테두리 색상을 흰색으로 설정 */
}

/* 호버 시 Select 컴포넌트의 아웃라인 스타일 */
.select-standard .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border-color: white; /* 호버 시 테두리 색상 */
}

/* 포커스된 Select 컴포넌트의 아웃라인 스타일 */
.select-standard .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: white; /* 포커스 시 테두리 색상 */
}

.UVbottom {
    position: relative;
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
    left: 20%;
    width: 60%;
}

.custom-menu-item {
    padding-top: 0px; /* Reduce top padding */
    padding-bottom: 0px; /* Reduce bottom padding */
}

.select-standard .MuiSelect-select {
    color: white; /* 선택된 항목의 텍스트 색상을 흰색으로 변경 */
}

/* Select 또는 TextField가 포커스될 때의 밑줄 색상 변경 */
.select-standard .MuiInput-underline:after,
.tf .MuiInput-underline:after {
    border-bottom: 2px solid orangered; /* 포커스 시 밑줄 색상을 orangered로 변경 */
}

.ub {
    width: 40%;
    color: white; /* 글자 색상 */
    border-color: white; /* 테두리 색상 */
}
