.MyPage {
    background: 'transparent';
    /* background: linear-gradient(165deg, #9795f0, #fbc8d4); */
    text-align: center;
    display: flex;
    flex-direction: column;
  }

.top {
    display: flex; /* flexbox 레이아웃 사용 */
    justify-content: flex-start; /* 양 끝에 요소 배치 */
    align-items: center; /* 수직 중앙 정렬 */
    width: 45vw; /* 전체 너비 사용 */
    padding: 0 10px; /* 좌우 패딩 */
  }
  
.top h2 {
    margin: 0; /* h2의 기본 마진 제거 */
    margin-left: 3%;
    margin-right: 46%;
    color: white;
    white-space: nowrap;
    font-family: ExtraBold;
    font-size: 2rem;
  }

.body {
    display: flex; /* flexbox 레이아웃 사용 */
    justify-content: flex-start;
    margin-top: 3%;
  }

.body img {
    margin-left: 5%;
    margin-top: 3%;
    border-radius: 50%;
    width: 20%; /* 이미지가 컨테이너의 너비에 맞추어져 조정 */
    height: 20%; /* 이미지의 높이는 자동으로 설정하여 비율 유지 */
    left:0;
    object-fit: cover;
}

.profile {
    margin-top: 4%;
    margin-left: 7%;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.name {
    font-family: Bold;
    color: white;
    font-size: 1.5rem;
}

.oneliner {
    font-family: Regular;
    color: white;
    font-size: 1.1rem;
}

.bottom {
    margin-top: 3%;
    width: 45vw; /* 전체 너비 사용 */
}

.videotitle {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.videotitle h2 {
    font-family: Bold;
    color: white;
    font-size: 1.5rem;
    margin-left: 5%;
    margin-right: 1%;
}

.video {
    width: 100%;
    display: flex; /* Flexbox 레이아웃 사용 */
    overflow-x: auto; /* 가로 스크롤 허용 */
    gap: 10px; /* 비디오 사이의 간격 */
    padding: 10px; /* 내부 여백 */
  }
  
.video-item {
    flex: none; /* 비디오 항목의 크기가 변하지 않도록 설정 */
    width: 200px; /* 비디오의 너비 */
    height: 120px; /* 비디오의 높이 */
    object-fit: cover;
    background-color: #eee; /* 배경색, 실제 비디오가 있을 때는 제거해야 함 */
}

.video::-webkit-scrollbar {
    height: 5px; /* 스크롤 바의 너비 */
}

/* 스크롤 바 핸들 (가로/세로) */
.video::-webkit-scrollbar-thumb { 
    background-color: orangered; /* 핸들의 색상 */
    border-radius: 10px; /* 핸들의 둥근 모서리 */
    border: 0.1px solid #FFFFFF; /* 핸들 주변의 테두리 */
}

/* 스크롤 바 트랙 */
.video::-webkit-scrollbar-track {
    background: #FFFFFF; /* 트랙의 배경색 */
    border-radius: 10px; /* 트랙의 둥근 모서리 */
}

.custom-icon-button:hover {
    color: orangered;
  }