.arrow-container {
    position: fixed;
    opacity: 0;
    transition: opacity 0.5s ease;
    border-radius: 0 50px 50px 0;
}

.arrow-container:hover, .arrow-container:hover .arrow {
    opacity: 1;
}

.left, .right {
    top: 0;
    bottom: 0;
    width: 15%; /* 좌우 상자의 너비 */
}

.left {
    left: 0;
    background: radial-gradient(circle at left, rgba(0, 0, 0, 0.1), transparent);
    border-radius: 0 70% 70% 0;
}

.right {
    right: 0;
    background: radial-gradient(circle at right, rgba(0, 0, 0, 0.1), transparent);
    border-radius: 70% 0 0 70%;
}

.up, .down {
    left: 0;
    right: 0;
    height: 12%; /* 상하 상자의 높이 */
}

.up {
    top: 0;
    background: radial-gradient(circle at top, rgba(0, 0, 0, 0.1), transparent);
    border-radius: 0 0 100% 100%;
}

.down {
    bottom: 0;
    background: radial-gradient(circle at bottom, rgba(0, 0, 0, 0.1), transparent);
    border-radius: 70% 70% 0 0;
}

.arrow {
    position: fixed;
    font-size: 3rem;
    color: #000;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
.arrow-left {
    left: 2%; 
    top: 50%; 
}
.arrow-right { 
    right: 2%; 
    top: 50%; 
}
.arrow-up { 
    top: 2%; 
    left: 49%; 
}
.arrow-down { 
    bottom: 2%; 
    left: 49%; 
}
.icon {
    opacity: 0.3;
    pointer-events: none;
}

.arrow-text {
    font-family: Regular;
    color: #000; /* 텍스트 색상 */
}

/* 왼쪽 화살표 아래 */
.arrow-container.left .arrow-text {
    position: absolute;
    top: 60%;
    left: 7.5%; /* 화살표의 오른쪽에 위치 */
    transform: translateY(-50%);
    margin-left: 10px; /* 화살표와의 간격 */
}

/* 오른쪽 화살표 아래 */
.arrow-container.right .arrow-text {
    position: absolute;
    top: 60%;
    right: 7.5%; /* 화살표의 왼쪽에 위치 */
    transform: translateY(-50%);
    margin-right: 10px; /* 화살표와의 간격 */
}

/* 윗쪽 화살표 아래 */
.arrow-container.up .arrow-text {
    position: absolute;
    top: 32%; /* 화살표의 아래에 위치 */
    left: 55%;
    transform: translateX(-50%);
    margin-bottom: 10px; /* 화살표와의 간격 */
}

/* 아랫쪽 화살표 위 */
.arrow-container.down .arrow-text {
    position: absolute;
    top: 38%; /* 화살표의 위에 위치 */
    left: 45%;
    transform: translateX(-50%);
    margin-top: 10px; /* 화살표와의 간격 */
}